<div class="description">
    <h1>Victor Postea</h1>
    <h2>Full Stack Developer</h2>
    <h3>
      <span class="location">
        <img src="assets/icons/location-icon.svg" alt="Location icon" class="location-icon">
        Toronto, ON
      </span>
    </h3>
  
    <!-- Line break and navigation links -->
    <br>
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
</div>
  