<div class="projects-grid">
  <div *ngFor="let project of projects" class="project-card" (click)="navigateToProjectDetail(project.id)">
    <h2>{{ project.name }}</h2>
    <img [src]="project.image" alt="{{ project.name }}" class="project-image">
    <p>{{ project.description }}</p>

    <!-- Add Awards Section Conditionally -->
    <div *ngIf="project.awards && project.awards.length > 0">
      <h4>Awards:</h4>
      <ul>
        <li *ngFor="let award of project.awards">{{ award }}</li>
      </ul>
    </div>

    <!-- Button for more details -->
    <button class="details-button" (click)="navigateToProjectDetail(project.id); $event.stopPropagation()">See More Details</button>
  </div>
</div>
