<div id="container">  
    <p id="email">victorpostea&#64;gmail.com</p>
    
    <div id="email-links">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=victorpostea@gmail.com" target="_blank">
            <img width="20px" src="./assets/imgs/gmail-logo.webp" alt="Gmail">
            <p>Send via Gmail</p>
        </a>
        
        <a href="https://outlook.live.com/mail/0/deeplink/compose?to=victorpostea@gmail.com" target="_blank">
            <img width="20px" src="./assets/imgs/outlook-logo.png" alt="Outlook">
            <p>Send via Outlook</p>
        </a>
    </div>
    
    <div class="links">
        <a href="https://github.com/victorpostea" target="_blank">
            <img width="20px" src="./assets/imgs/github-logo.png" alt="GitHub">
            <p>GitHub</p>
        </a>
        
        <a href="https://www.linkedin.com/in/victor-postea-070556298/" target="_blank">
            <img width="20px" src="./assets/imgs/linkedin-logo.png" alt="LinkedIn">
            <p>LinkedIn</p>
        </a>
    </div>
</div>
