#email-links,
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

#email-links {
    gap: 40px;
}

.links {
    gap: 100px;
}

#email-links a,
.links a {
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-links img,
.links img {
    display: block;
    margin: 0 auto;
}

#email-links p,
.links span {
    font-size: 1rem;
    margin-top: 5px;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: gray;
}

#smaller {
    font-size: 0.8rem;
}

p,
span {
    display: flex;
    justify-content: center;
}

#email {
    font-size: 1.2rem;
}
