#email-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

#email-links a {
    text-align: center;
    text-decoration: none;
    color: black;
}

#email-links img {
    display: block;
    margin: 0 auto;
}

#email-links p {
    font-size: 0.8rem;
    margin-top: 5px;
}

.links {
    display: flex;
    gap: 75px;
    justify-content: center;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: gray;
}

#smaller {
    font-size: 0.8rem;
}

p {
    display: flex;
    justify-content: center;
}