.home-content {
  text-align: center;
  padding: 20px;
}

.home-content p:first-child {
  font-size: 1rem;
  margin-bottom: 5vh;
}

.ascii-donut {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 0;
  display: block;
}
